body {
    
    display: block;
    margin: 0 auto;
    background: #EFECDD;

} 
h1, h2 {
    text-align: center;
    color: #855136;
    font-family: 'Combo', cursive;
}
h1 {
    margin-top: 80px;
    font-size: 76px;
}
h5 {
    text-align: center;
    color: #855136;
    font-size: 66px;
    margin: 0;
    margin-bottom: 30px;
}
p {
    text-align: center;
    font-size: 24px;
    padding: 20px 50px;
    color: #855136;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}


h4 {
margin-top: 70px;
font-size: 30px;
margin-bottom: 100px;
    color: #855136;
    font-family: 'Roboto', sans-serif;
        }
.links {
    
    margin-top: 10px;
    text-align: center;
   
}
.links a {
    font-size: 22px;
    margin: 10px;
    color: #855136;
    font-family: 'Roboto', sans-serif;
    
}
img {
    display: block;
    margin: 0 auto;
    padding: 36px;
    border-radius: 10px;
    width: 600px;
   
}
@media (max-width: 600px) {

   h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 56px;
    }
    p {
        font-size: 18px;
        padding: 10px 10px;
    }
  
        h3 {
            margin-top: 20px;
            margin-bottom: 90px;
        }
        .links a {
            font-size: 14px;
        }
        h4 {
 margin-top: 20px;
font-size: 30px;
margin-bottom: 300px;
        }
        h5 {
            font-size: 32px;
            
        }
        .img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;
        }
}