body {
    max-width: 800px;
    display: block;
    text-align: center;

} 
h1, h2 {
    text-align: center;
    color: #855136;
    font-family: 'Combo', cursive;
}
h1 {
    font-size: 76px;
}
p {
    text-align: center;
    font-size: 28px;
    padding: 20px 200px;
    color: #855136;
    font-family: 'Roboto', sans-serif;;
}
body {
    background: #EFECDD;


}

h3 {
margin-top: 100px;
margin-bottom: 300px;
    color: #855136;
    font-family: 'Roboto', sans-serif;
        }
.links {
    
    margin-top: 10px;
    text-align: center;
   
}
.links a {
    color: antiquewhite;
    margin: 10px;
    color: #855136;
    font-family: 'Roboto', sans-serif;
    
}
img {
    display: block;
    margin: 0 auto;
    padding: 36px;
    border-radius: 10px;
}
@media (max-width: 600px) {

   h1 {
    padding-top: 20px;
font-size: 56px;
    }
    p {
        font-size: 20px;
        padding: 10px 10px;}
        h3 {
            margin-top: 20px;
            margin-bottom: 90px;
        }
}